
.vscode/
antlr.tmp/

compiler/.antlr/
compiler/build/
compiler/generated/
compiler/ifcc
antlr/
compiler/config.mk
install-antlr.sh

tests/ifcc-test-output/

**/*.exe
**/*.o
**/*.s
**/a.out

macos.mk
